
th.column-alt-text-status,
td.column-alt-text-status {
  text-align: center;
}

td.column-alt-text-status .dashicons-warning {
  color: darkorange;
}

td.column-alt-text-status .dashicons-yes-alt {
  color: darkgreen;
}

.odm-feedback {
  margin-left: 10px;
  font-size: 0.9em;
}

.odm-success {
  color: green;
}

.odm-error {
  color: red;
}
